<<<<<<< HEAD
doctype html
html
    head
        title = title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
=======
doctype html
html
    head
        title = title
        
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
>>>>>>> 912bdb2cebcf9b1f5fe886018f4bde1322b0770a
        script(src='/javascripts/global.js')