extends layout

block content
  form(method='POST')
    legend Change password
    .form-group
      label(for='old password') Old password
      input.form-control(type='password', name='oldPw')
    .form-group
      label(for='new password') New password
      input.form-control(type='password', name='newPw')
    .form-group
      label(for='confirm') Confirm password
      input.form-control(type='password', name='confirm')
    button.btn.btn-primary(type='submit') Change
