<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css.css">
  <title>Pamokos pridėjimas</title>
  <meta charset="utf-8">
</head>
<body>


<div align="center" class="container ">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><font size="6" color="white">@VK</font></li>
    <li><a href='/userProfile'>Paskyra</a></li>
    <li><a href='/lectureList'>Pamokos</a></li>

      <li><a href='/userLecture'>Mano pamokos</a></li>

	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout"><span class="glyphicon glyphicon-off"></span>Atsijungti</a></li>
    </ul>
  </div>
</nav>

<div align="center" class="container ">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-2">
			<h1 align="left"><%= user.userName %></h1>
			<img  align="center" class="img-responsive" src="img/student.jpg">
    </div>
			<br>
			<p align="left"><a href="userProfile/changeName">Keisti rodomą vardą</a></p>
			<p align="left"><a href="userProfile/changePw">Keisti slaptažodį</a></p>
			</div>

      <div class="col-sm-10">
			<h2>Pakeisti vardą</h2>
        <div class="row">
          <form method="POST">
      				<div class="form-group">
      				      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      				      <input type="text" class="form-control" name="name" placeholder="Vardas">
      			  </div>
              <button type="submit" class="btn btn-primary">Keisti</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
