<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css.css">
  <title>Pamokos pridėjimas</title>
  <meta charset="utf-8">
</head>
<body>


<div align="center" class="container ">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><font size="6" color="white">@VK</font></li>
    <li><a href='/userProfile'>Paskyra</a></li>
    <li><a href='/lectureList'>Pamokos</a></li>
    <li><a href='/userLecture'>Mano pamokos</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#"><span class="glyphicon glyphicon-off"></span>Atsijungti</a></li>
    </ul>
  </div>
</nav>

	<br>
	<br>
	<br>
  <img  align="center" class="img-responsive" src="img/logo.png">
	<br>
	<img  align="center" class="img-responsive" src="img/asmensDuomenys3.png">

	<br>
	<br>


	<div class="row">

	<div class="col-sm-2 col-md-2 col-lg-4">
	</div>

	<div class="col-sm-2 col-md-2 col-lg-4">

    <h3>Klausimas/atsakymas</h3>
    <form class="form-inline">

  	<div class="input-group">
  		<span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
  		<textarea class="form-control" rows="5" name="task" placeholder="Klausimas"></textarea>
      </div>

  	<br>
  	<br>

      <div class="input-group">
  		<span class="input-group-addon"><i class="glyphicon glyphicon-ok-sign"></i></span>
  		<textarea class="form-control" rows="5" name="answer" placeholder="Atsakymas"></textarea>
  		<!--<input type="email" class="form-control" id="email" placeholder="El. paštas">-->
      </div>
  	</form>

    <h3>Pavyzdžiai</h3>
    <form class="form-inline">

  	<div class="input-group">
  		<span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
  		<input type="text" class="form-control" name="slide" placeholder="Skaidrės pavadinimas">
      </div>

  	<br>
  	<br>

      <div class="input-group">
  		<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
  		<textarea class="form-control" rows="5" name="info" placeholder="Aprašymas"></textarea>
  		<!--<input type="email" class="form-control" id="email" placeholder="El. paštas">-->
      </div>
  	</form>

	</div>

	<div class="col-sm-2 col-md-2 col-lg-4">
	</div>

	</div>
</div>

	<br>
	<br>

	<p align="center"><button type="submit" class="btn btn-primary btn-xl">Tęsti</button></p>

	<p align="center"><a href="/userLecture"><button class="btn btn-primary btn-xl">Atšaukti</button></a></p>

  </form>


<footer>
  <p align="center" class="blurry-text" ><font align="center" size="2">Visos teisės saugomos</font></p>
</footer>

</body>

</html>
