<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css.css">

  <title>Login</title>
  <meta charset="utf-8">
</head>
<body>

<div align="center" class="container">

	<br>
	<br>
	<br>

  <img  align="center" class="img-responsive" src="img/logo.png">

	<br>

  <form method="POST" class="form-inline">

	<div class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
		<input type="email" class="form-control" name="email" placeholder="El. paštas" value="test@gmail.com">
	</div>

	<br>
	<br>

    <div class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		<input type="password" class="form-control" name="password" placeholder="Slaptažodis" value="test">
    </div>

	<br>
	<br>

	<button type="submit" class="btn btn-primary">Prisijungti</button>

	<a href="/registration"><button class="btn btn-default">Registruotis</button></a>

  </form>

 <footer>
  <p align="center" class="blurry-text" ><font align="center" size="2">Visos teisės saugomos</font></p>
</footer>

 </div>




</body>

</html>
