extends layout

block content
  form(method='POST')
    legend Change name
    .form-group
      label(for='new name') New name
      input.form-control(type='text', name='name')
    button.btn.btn-primary(type='submit') Change
